.alert p {
    text-align: center;
}
.icon-success {
    color: #5CB85C;
}

.icon-danger {
    color: #b82b33;
}

.placeholder-img {
    border: 10px solid greenyellow;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.kwizz-title, .speler-title, .beamer-title, .beamerStartTitle, .meesterEndTitle{
    font-weight: bold;
    font-size: 20px;
}

.meester-title {
    font-weight: bold;
}

.plus-icon {
    color: #5cb85c;
    font-size: 20px;
}

.remove-icon {
    color: #b82b33;
    font-size: 20px;
}

.forward-icon {
    color: #2e5d3a;
    font-size: 20px;
}

.antw-table > tbody > tr #antw-td{
    border-left: 3px solid darkred;
}

.beamer-antw-table > tbody > tr #beamer-td {
    border-left: 3px solid darkred;
}

.teamDetails {
    background: url("../images/placeholder.jpg") no-repeat;
    width: 100%;
    height: 100%;
    max-width: 125px;
    max-height: 125px;
    border-radius: 125px;
    border: 3px solid #285e8e;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 2px #626262;
    text-align: center;
    color: white;
    margin: 0 auto 0 auto;
    line-height: 125px;
}

.categorieen {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

span.glyphicon-remove {
    font-size: 1.5em;
    line-height: 1.5em;
}