.panel-body h3 {
    text-align: center;
}

.icon-success {
    color: #5CB85C;
}

.icon-danger {
    color: #b82b33;
}

.placeholder-img {
    border: 10px solid greenyellow;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
