.alert p {
    text-align: center;
}
.icon-success {
    color: #5CB85C;
}

.icon-danger {
    color: #b82b33;
}

.placeholder-img {
    border: 10px solid greenyellow;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.kwizz-title, .speler-title, .beamer-title {
    font-weight: bold;
    font-size: 20px;
}

.meester-title {
    font-weight: bold;
}

.cat-table {
    width: 50%;
}

.plus-icon {
    color: #5cb85c;
}

.remove-icon {
    color: #b82b33;
}

.play-icon {
    color: #1b1b2e;
}

.antw-table > tbody > tr #antw-td{
    border-left: 3px solid darkred;
}

.beamer-antw-table > tbody > tr #beamer-td {
    border-left: 3px solid darkred;
}

.teamDetails {
    background: url("../images/placeholder.png") no-repeat center;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: white;
}