<div id="start" ng-if="screen == 'start'">
    <!-- start Start screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <span class="beamerStartTitle">Beamer Authenticeren</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="col-lg-12">
                <form>
                    <div class="form-group">
                        <input type="text" ng-model="beamerPassword" class="form-control" placeholder="Voer de code in">
                    </div>
                </form>
            </div>

        </div>

        <div class="panel-footer">
            <button ng-click="authBeamer(beamerPassword)" type="button" class="btn btn-primary center-block">Start Beamer</button>
        </div>
    </div>
    <!-- end Start screen -->
</div>

<div id="mainBeamer" ng-if="screen == 'main'">
    <!-- start Main screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-lg-6 pull-left text-left">
                        <span class="beamer-title">Ronde: {{rondeNummer}}</span>
                    </div>
                    <div class="col-lg-6 pull-right text-right">
                        <span class="beamer-title">Vraag: {{question.vraagTekst.length}}/12</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="col-lg-12">
                <!--<h1 class="text-center">{{category.categorieen[category.categorieen.length - 1]}}</h1>-->
                <div ng-show="!(question.vraagTekst).length" class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Geen vraag geselecteerd</strong> De kwizz-Meester is bezig om een vraag te selecteren.
                </div>
                <h2 class="text-center">{{question.vraagTekst[question.vraagTekst.length - 1]}}</h2>
                <hr/>

                <!--<div id="antwoord" ng-if="screen == 'antw'">-->
                    <!--&lt;!&ndash; start Antw screen &ndash;&gt;-->
                    <!--<div class="col-lg-12">-->
                        <!--<table class="table table-hover beamer-antw-table">-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="answer in answers">-->
                                <!--<td style="border-left: 5px solid {{answer.team.teamColor}};">{{answer.antwoordTekst}}</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; end Antw screen &ndash;&gt;-->
                <!--</div>-->

                <hr/>

                <div class="col-lg-4" ng-repeat="team in teams">
                    <div class="well">
                        <div style="border: 3px solid {{team.teamColor}};" class="teamDetails">
                            {{team.score}}
                        </div>
                        <h4 class="text-center">{{team.name}}</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end Main screen -->
</div>

<div ng-if="screen == 'code'">
    <!-- start Code screen -->
    <div class="well">
        <h2 class="text-center">Authenticatie code voor pubquiz: <span class="beamerCode">{{beamerPassword}}</span></h2>
    </div>
    <!-- end Code screen -->
</div>

<div ng-if="screen == 'end'">
    <!-- start End screen -->
    <h1 class="text-center">Eindscore</h1>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th colspan="2">Team naam</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Team Awesome</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Team Test 3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Madeliefjes</td>
        </tr>
        </tbody>
    </table>
    <!-- end End screen -->
</div>