<div id="start" ng-if="screen == 'start'">
    <!-- start Start screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <span class="beamerStartTitle">Beamer Authenticeren</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="col-lg-12">
                <form>
                    <div class="form-group">
                        <input type="text" ng-model="beamerPassword" class="form-control" placeholder="Voer de code in">
                    </div>
                </form>
            </div>

        </div>

        <div class="panel-footer">
            <button ng-click="authBeamer(beamerPassword)" type="button" class="btn btn-primary center-block">Start
                Beamer
            </button>
        </div>
    </div>
    <!-- end Start screen -->
</div>

<div id="waiting" ng-if="screen == 'waiting'">
    <!-- start waiting screen -->
    <div class="loading" ng-show="!(teams).length">
        <p>

        <h3><em>Gebruik de code: {{beamerPassword}} om u aan te melden bij deze kwizz.</em></h3>
        <img src="../images/loading.gif" align="loading">
        </p>
    </div>
    <!-- end waiting screen -->
</div>

<div id="mainBeamer" ng-if="screen == 'main'">
    <!-- start Main screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-lg-6 pull-left text-left">
                        <span class="beamer-title">Ronde: {{uitvoering.rondes.length + 1}}</span>
                    </div>
                    <div class="col-lg-6 pull-right text-right">
                        <span ng-show="(question.vraagTekst).length" class="beamer-title">Vraag: {{question.vraagTekst.length}}/12</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="col-lg-12">
                <div ng-show="!(question.vraagTekst).length" class="loading">
                    <p>

                    <h3><em>{{waitingText}}</em></h3>
                    <img src="../images/loading.gif" align="loading">
                    </p>
                </div>
                <!--<h1 class="text-center">{{category.categorieen[category.categorieen.length - 1]}}</h1>-->
                <h2 class="text-center">{{question.vraagTekst[question.vraagTekst.length - 1]}}</h2>
                <hr/>

                <h3 class="text-center" ng-show="(teamAnswers).length">Antwoord: {{answer}}</h3>

                <div class="col-lg-12">
                    <table ng-show="(teamAnswers).length" class="table table-hover beamer-antw-table text-center">
                        <tbody>
                        <tr>
                            <th class="text-center">Team naam</th>
                            <th class="text-center">Team antwoord</th>
                        </tr>
                        <tr ng-repeat="answer in teamAnswers">
                            <td>{{answer.teamNaam}}</td>
                            <td>{{answer.antwoordTekst}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <hr/>

                <div class="col-lg-{{gridWidth}}" ng-repeat="team in uitvoering.teams">
                    <div class="well" id="{{team.name}}">
                        <div style="border: 3px solid {{team.teamColor}};" class="teamDetails">
                            {{team.score}}
                        </div>
                        <h4 class="text-center">{{team.name}}</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end Main screen -->
</div>

<div ng-if="screen == 'code'">
    <!-- start Code screen -->
    <div class="well">
        <h2 class="text-center">Authenticatie code voor pubquiz: <span class="beamerCode">{{beamerPassword}}</span></h2>
    </div>
    <!-- end Code screen -->
</div>

<div ng-if="screen == 'end'">
    <!-- start End screen -->
    <h1 class="text-center">Eindscore</h1>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th colspan="2">Team naam</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Team Awesome</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Team Test 3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Madeliefjes</td>
        </tr>
        </tbody>
    </table>
    <!-- end End screen -->
</div>