<div id="start" ng-if="screen == 'start'">
    <!-- start Start screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <span class="beamerStartTitle">Beamer Authenticeren</span>
            </div>
        </div>

        <div class="panel-body">

            <div class="col-lg-12">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Voer de code in">
                    </div>
                </form>
            </div>

        </div>

        <div class="panel-footer">
            <button ng-click="setScreen('main')" type="button" class="btn btn-primary center-block">Start Beamer</button>
        </div>
    </div>
    <!-- end Start screen -->
</div>

<div id="mainBeamer" ng-if="screen == 'main'">
    <!-- start Main screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-lg-6 pull-left text-left">
                        <span class="beamer-title">Ronde: 1</span>
                    </div>
                    <div class="col-lg-6 pull-right text-right">
                        <span class="beamer-title">Vraag: 3/12</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="col-lg-12">
                <h1 class="text-center">Geschiedenis</h1>
                <hr/>
                <h2 class="text-center">Hoe wordt de periode waarin het goed ging met Nederland tussen 1600 – 1700 ook
                    wel
                    genoemd?</h2>
                <hr/>

                <!-- TODO #1 Add Angular Timer that compliments Bootstrap @SEE http://siddii.github.io/angular-timer/ -->
                <!-- TODO #2 If the timer has ended, use ng-show or ng-hide to show the answers here! -->
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                         aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
                <hr/>

                <!-- TODO #3 Make sure that col-lg-4 changes to whatever amount of teams join. Notice col-lg-12! -->
                <div class="col-lg-4">
                    <div class="well">
                        <h1 class="teamDetails">45</h1>
                        <h4 class="text-center">Team naam</h4>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="well">
                        <h1 class="teamDetails">45</h1>
                        <h4 class="text-center">Team naam</h4>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="well">
                        <h1 class="teamDetails">45</h1>
                        <h4 class="text-center">Team naam</h4>
                    </div>
                </div>

            </div>

        </div>
        <div class="panel-footer">
            <button ng-click="setScreen('antw')" type="button" class="btn btn-danger center-block">Tijdelijk button
                naar
                scherm 2 | Lees TODO #2
            </button>
        </div>
    </div>
    <!-- end Main screen -->
</div>

<div id="antwoord" ng-if="screen == 'antw'">
    <!-- start End screen -->
    <div class="col-lg-12">
        <table class="table table-hover beamer-antw-table">
            <tbody>
            <tr>
                <td id="beamer-td">Gouden Eeuw</td>
            </tr>
            <tr>
                <td>gouden eeuw</td>
            </tr>
            <tr>
                <td>geen idee?</td>
            </tr>
            <tr>
                <td>Piet piraat</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- end End screen -->
</div>