<div class="jumbotron">
    <h1>Welkom bij de Kwizzert! <small>Pub quiz</small></h1>
    <p>Uitleg:</p>
    <dl>
        <dt>Kwizz speler</dt>
        <dd>Phasellus interdum, velit non pretium fringilla, quam dolor aliquet nulla, eget ornare est orci a velit. Cras sed est nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum molestie, massa at placerat convallis, sapien magna vestibulum libero, id aliquet tortor diam sit amet nulla. Vestibulum bibendum eu nunc in gravida. Duis fringilla erat sit amet interdum auctor. Ut vitae dui ut quam molestie volutpat. Nulla consequat, odio ut dapibus pulvinar, sem odio porta augue, vel scelerisque nulla orci sed ipsum. Duis non sollicitudin ex, hendrerit placerat ligula. Sed non aliquet mi. Nulla ac eros mi. In eu dui mauris.</dd>
        <dt>Kwizz meester</dt>
        <dd>Proin egestas sed sapien vitae vulputate. Mauris tristique tellus quis mattis consectetur. In nisl tellus, dignissim nec imperdiet ac, consequat sed eros. Phasellus tristique aliquet nulla. Ut id blandit urna. Curabitur efficitur, elit in pellentesque elementum, nunc velit efficitur metus, quis sollicitudin justo massa quis erat. Mauris sagittis justo at elit sollicitudin tempus.</dd>
        <dt>Kwizz beamer</dt>
        <dd>Pellentesque nec erat ac dui dignissim varius. Proin nunc nisi, consequat ac erat vel, maximus sodales turpis. Integer lorem mi, varius quis velit ac, ultrices pharetra quam. Sed cursus magna vel ipsum convallis imperdiet. Ut ultrices auctor leo eget dictum. Sed a turpis non erat laoreet rutrum vel eget diam. Cras aliquet lacinia semper. Suspendisse potenti. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce rhoncus dui turpis, vitae tincidunt augue cursus ut.</dd>
    </dl>
</div>