<div id="start" ng-if="screen == 'start'">
    <!-- Start the first screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <span class="kwizz-title">De Kwizzert</span>
            </div>
        </div>
        <div class="panel-body">
            <img class="img-responsive center-block" src="images/pubquiz_logo.png" alt="pubquiz logo">
        </div>
        <div class="panel-footer">
            <button ng-click="saveKwizzUitvoering()" type="button" class="btn btn-success btn-lg btn-block">Kwizz avond
                starten
            </button>
        </div>
    </div>
    <!-- End the first screen -->
</div>

<div id="authentication" ng-if="screen == 'auth'">
    <!-- Start authentication screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title meester-title">Teams accepteren/afwijzen</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info" role="alert"><strong>{{myCode}}</strong> is uw authenticatie code voor deze
                pubquiz
                sessie. Voer deze code in op het beamer scherm, zodat de spelers dit te zien krijgen.
            </div>
            <div ng-show="showError" class="alert alert-danger alert-dismissible" role="alert">
                <strong>Geen teams</strong> Er moeten minstens twee teams zijn
                aangemeld en maximaal zes!
            </div>
            <!-- Loading text waiting for teams -->
            <div class="loading" ng-show="!(teams).length">
                <p>

                <h3><em>Wachten op aanmeldingen van teams</em></h3>
                <img src="../images/loading.gif" align="loading">
                </p>
            </div>

            <div class="col-sm-4" ng-repeat="team in teams">
                <div class="well">
                    <img style="border: 10px solid {{team.teamColor}};"
                         class="placeholder-img img-responsive center-block" src="images/placeholder.jpg"
                         alt="placeholder">

                    <div class="text-center">
                        <h4>{{team.name}}</h4>

                        <div class="btn-group">
                            <button ng-click="deleteTeam(team.name)" type="button" class="btn btn-default btn-danger">
                                <span class="glyphicon glyphicon-remove "></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- panel-body -->

        <div class="panel-footer">
            <button ng-click="checkTeams(myCode)" type="button" class="btn btn-primary center-block">Kies de
                categorieën
                <span class="glyphicon glyphicon-forward"></span>
            </button>
        </div>

    </div>
    <!-- End authentication screen -->
</div>

<div id="categorie" ng-if="screen == 'catg'">
    <!-- Start categorie screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title meester-title">Selecteer de drie categorieën voor deze ronde</h3>
        </div>
        <div class="panel-body">
            <input type="text" class="form-control" placeholder="Zoeken" ng-model="searchQuery">

            <div class="categorieen">
                <table class="table table-hover table-responsive">
                    <thead>
                    <th colspan="2">Beschikbare categorieën</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="categorie in categories | filter: searchQuery">
                        <td id="catgWidth">{{categorie}}</td>
                        <td id="btnWidth">
                            <span ng-click="addRondeCategorie(categorie)"
                                  class="glyphicon glyphicon-plus-sign plus-icon"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- col-sm-12 -->
            <div class="categorieenRonde">
                <table class="table table-hover table-responsive">
                    <thead>
                    <th colspan="2">Geselecteerde categorieën voor deze ronde</th>
                    </thead>
                    <tbody>
                    <tr ng-show="!(rondeCategorieen).length">
                        <td>
                            <div class="alert alert-danger" role="alert">
                                <strong>Geen categorieën</strong> Er zijn geen categorieën toegevoegd. Druk op het +
                                icoon naast een categorie om deze categorieën toe te voegen
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="categorie in rondeCategorieen">
                        <td id="catgWidth">{{categorie}}</td>
                        <td id="btnWidth">
                        <span ng-click="removeRondeCategorie(categorie)"
                              class="glyphicon glyphicon-remove-circle remove-icon"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- col-sm-12 -->
            </div>
        </div>
        <!-- panel-body -->

        <div class="panel-footer">
            <button ng-click="startRonde()" type="button" class="btn btn-primary center-block">Start Ronde</button>
        </div>

    </div>
    <!-- End categorie screen -->
</div>

<div id="vraag" ng-if="screen =='vraag'">
    <!-- Start vragen screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title meester-title">Selecteer vraag</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover cat-table">
                <thead>
                <th>Categorie</th>
                <th>Vraag</th>
                <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="vraag in rondeVragen">
                    <td>{{vraag.categorie}}</td>
                    <td>{{vraag.vraagTekst}}</td>
                    <td>
                        <span ng-click="selectQuestion(vraag._id)" class="glyphicon glyphicon-forward forward-icon"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End vragen screen -->
</div>

<div id="antw" ng-if="screen == 'antw'">
    <!-- Start antw screen -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title meester-title">{{myObj.vraag.doc.vraagTekst[myObj.vraag.doc.vraagTekst.length -1]}}</h3>
        </div>
        <div class="panel-body">
            <p><h4>Goede antwoord: {{choosedQuestion.antwoord}}</h4></p>

            <p>Ingezonden antwoorden door de teams:</p>

            <div ng-show="!(answers).length" class="loading">
                <p>
                    <h3>
                        <em>Wachten op antwoorden van teams</em>
                    </h3>
                    <img src="../images/loading.gif" align="loading">
                </p>
            </div>
            <table ng-show="(answers).length" class="table table-hover antw-table">
                <tbody>
                <tr>
                    <th>Geef punten</th>
                    <th>Team</th>
                    <th>Antwoord</th>
                </tr>
                <tr ng-repeat="answer in answers track by $index" id="row{{$index}}">
                    <td>
                        <button id="button{{$index}}" ng-show="!pointsGiven" ng-click="givePoints(answer.teamNaam, $index)" type="button" class="btn btn-success">Goed antwoord (Geef dit team punten)</button>
                    </td>
                    <td>{{answer.teamNaam}}</td>
                    <td>{{answer.antwoordTekst}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="panel-footer">
            <button ng-show="(myObj.vraag.doc.vraagTekst).length < 12" ng-click="closeQuestion()" type="button"
                    class="btn btn-default center-block">Volgende vraag
            </button>
            <div class="text-center">
                <button ng-show="(myObj.vraag.doc.vraagTekst).length >= 12" ng-click="closeUitvoering()" type="button"
                        class="btn btn-danger">Kwizz-avond stoppen
                </button>
                <button ng-show="(myObj.vraag.doc.vraagTekst).length >= 12" ng-click="newRound()" type="button"
                        class="btn btn-success">Nieuwe ronde starten
                </button>
            </div>
        </div>
    </div>
    <!-- End antw screen -->
</div>