<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>De Kwizzert</h3>
                <br>
                <div class="text-center">
                    <form role="form">
                        <button ng-click="go('/meester-auth')" type="button" class="btn btn-success btn-lg btn-block">Kwizz avond starten</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>