<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title meesterEndTitle">Ronde afgelopen</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <h4>
                De ronde is afgelopen. Kies een van de volgende opties.
            </h4>
        </div>
    </div>
    <!-- panel-body -->

    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6">
                <button ng-click="go('/meester-catg')" type="button" class="btn btn-success pull-left">Nieuwe Ronde
                </button>
            </div>
            <div class="col-sm-6">
                <button ng-click="go('/meester')" type="button" class="btn btn-danger pull-right">Kwizz Avond
                    Beëindigen
                </button>
            </div>
        </div>
    </div>
</div>

