<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <span class="kwizz-title">De Kwizzert</span>
            </div>
        </div>
        <div class="panel-body">
            <img class="img-responsive center-block" src="images/pubquiz_logo.png" alt="pubquiz logo">
        </div>
        <div class="panel-footer">
            <button ng-click="generateRandomCode()" type="button" class="btn btn-success btn-lg btn-block">Kwizz avond starten</button>
        </div>
    </div>
</div>