<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title meester-title">Selecteer vraag</h3>
        </div>
        <div class="panel-body">

            <div class="col-sm-12">
                <table class="table table-hover cat-table">
                    <thead>
                        <th>Categorie</th>
                        <th>Vraag</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Geschiedenis</td>
                            <td>Hoe wordt de periode waarin het goed ging met Nederland tussen 1600 – 1700 ook wel genoemd?</td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-forward forward-icon"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Technology</td>
                            <td>Hoeveel bit was de eerste Nintendo?</td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-forward forward-icon"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Landen</td>
                            <td>In welke provincie ligt Nijmegen?</td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-forward forward-icon"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Technology</td>
                            <td>Met welk telefoonmerk kun je als enige officieel “pingen”?</td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-forward forward-icon"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div> <!-- panel-body -->

        <div class="panel-footer">
            <button ng-click="go('/meester-antw')" type="button" class="btn btn-primary center-block">Start vraag</button>
        </div>

    </div>
</div>