<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title text-center"><span class="speler-title">Kwizzert Aanmelden</span></div>
    </div>

    <div class="panel-body">

        <form role="form">
            <div class="form-group has-error">
                <label class="control-label">Deze teamnaam is al bezet</label>
                <input type="text" class="form-control" placeholder="Team naam" id="addTeamName">
            </div>
            <hr/>
            <div class="input-group">
                <label for="inputTeamPicture">Voeg een team foto toe</label>
                <input type="file" id="inputTeamPicture">
            </div>
            <hr/>
            <div class="form-group">
                <input colorpicker ng-model="hexPicker.color" type="text" id="selectTeamColor" class="form-control"
                       placeholder="Selecteer een team kleur">
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button ng-click="go('/speler-vraag')" type="button" class="btn btn-success btn-lg btn-block">Team aanmelden
        </button>
    </div>
</div>
