<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title text-center"><span class="speler-title">Kwizzert authenticatie</span></div>
    </div>

    <div class="panel-body">

        <div class="col-xs-12">
            <form role="form">
                <div class="form-group">
                    <label for="authCode">Vraag naar de authenticatie code bij de Kwizz Meester.</label>
                    <input type="text" class="form-control" placeholder="Voer de code in" id="authCode">
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer">
        <button ng-click="go('/speler-start')" type="button" class="btn btn-success btn-lg btn-block">Authenticeren
        </button>
    </div>
</div>
