<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center"><span class="speler-title">Vraag 1</span></div>
        </div>

        <div class="panel-body">
            <div class="col-xs-12">
                <form role="form">
                    <h2 class="text-center">Hoe wordt de periode waarin het goed ging met Nederland tussen 1600 – 1700 ook wel genoemd?</h2>
                    <hr/>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Antwoord" id="addAnswer">
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-success btn-lg btn-block">Antwoorden</button>
        </div>
    </div>
</div>